:root {
  --main-background: #111827;
  --sub-background: #1f2937;
  --form-background: #67696a;
  --main-text: #d1d5db;
  --sub-text: #9ca3af;
  --alert-text: #f51d3a;
  --android-fix: #ffffffef;
}

/* HTML elements */

html, body {
  background-color: var(--main-background);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--main-text);
}

h4 {
  color: var(--sub-text);
}

a {
  color: var(--main-text);
  text-decoration: none;
}

button {
  background-color: var(--sub-background);
  color: var(--main-text);
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: blue;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 4px;
}

li > button {
  border: none;
}

form {
  background-color: var(--form-background);
}

input, textarea {
  background-color: var(--android-fix);
  box-shadow: none;
}

label {
  color: var(--main-text);
  padding: 0 8px;
}

img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

body {
  /* background-color: var(--main-background); */
  max-width: 1200px;
  margin: 20px auto;
}

/* Overall display */

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "Header"
    "Main"
    "Footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

header {
  color: var(--main-text);
  grid-area: Header;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 20px 24px;
}

header > img {
  width: 100px;
  height: 100px;
}

main {
  grid-area: Main;
}

footer {
  grid-area: Footer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Navbar */

nav {
  color: var(--main-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

nav > a,
nav > div {
  font-weight: 500;
  font-size: 1.4rem;
}

.anchor {
  position: relative;
}

.anchor > button {
  border: none;
}

.dropdown {
  background-color: var(--sub-background);
  position: absolute;
  width: 150px;
  margin-top: 10px;
}

/* front page */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.post {
  color: var(--main-text);
  position: relative;
  min-width: 320px;
  max-width: 800px;
  margin-top: 20px;
}

.likes {
  position: absolute;
  right: 0;
  bottom: 1%;
  font-size: 2rem;
}

.likes:disabled {
  background-color: green;
}


/* single post page */

.sub {
  max-width: 1200px;
  width: 100%;
}

.new_comment {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 12px;
}

.new_comment > textarea {
  width: 100%;
  height: 40px;
}

.new_comment > button {
  align-self: flex-end;
}

.comment {
  margin: 10px 0;
}

.content {
  color: var(--sub-text);
  font-size: 1.2rem;
}

/* New posts, Signup, Login pages forms*/

.new_post, .signup, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 10px 0;
  margin-top: 5rem;
  font-size: 1.4rem;
  min-width: 700px;
}

.file_label {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
}

.file_label:hover {
  border: 2px solid blue;
}

/* Misc */

.alert {
  color: var(--alert-text);
  text-align: center;
  font-weight: 700;
}

.error {
  color: var(--alert-text);
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-top: 6px
}

.loading {
  color: var(--alert-text);
  text-align: center;
}

.hidden {
  display: none;
}
.devNotes {
  color: var(--main-text);
}


/* Media queries */

@media (max-width: 650px) {
  img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  * {
    padding-left: 0;
    padding-right: 0;
  }

  nav > a,
  nav > div {
    font-size: 1.2rem;
  }

  .likes {
    font-size: 1.4rem;
  }

  .new_post, .signup, .login  {
    min-width: 300px;
  }
}